

#_1 :nth-child(3) a {
    background: var(--blue1);
}

.menu .row  {
    background: var(--blue3);
    text-align: center;
    color: #1E293B;
}

.menu p {
    cursor: pointer;
    padding: .3em 0;
}

.menu div {
    border-bottom: var(--border-blue1);
}
.menu div:hover {
    background: var(--blue1);
    color: #fff;
}
